#container{
        width: 100%; 
        height: 100%; 
        position: relative;
        background-color: whitesmoke; 
}
#menylinje1{
        width: 45.4%; 
        height: 0.7%; 
        position: absolute;
        background-color: black; 
        top: 19.9%;
        
}
    
#menylinje2{
        position: absolute;
        height: 0.7%;
        top: 19.9%;
        width: 47%;
        left: 52.8%;
        background-color: black;
        
}
    
#logo{
        position: absolute; 
        top: 6.5%;
        left: 38.3%;
}
#fb{
        position: absolute; 
        top: 12%; 
        width: 2.7%;
        left: 15.4%
}
#tw{
        position: absolute;
        top: 12%; 
        width: 2.5%;
        left: 11%;
}
#ig{
        position: absolute; 
        top: 10.7%; 
        width: 3.7%;
        left: 5.8%;
}
#sc{
        position: absolute; 
        top: 11.2%; 
        width: 3.2%;
        left: 1.7%
}

h1
{
   position: absolute;    
    top: 50%;
    left: 31%;
    font-family: 'Open Sans', sans-serif;
}
.tekst{
    position: absolute; 
    top: 152%;
    left: 29%;
    text-align: center; 
    height: 47%;
    width: 43%;
    font-size: 17px; 
    font-family:'Open Sans', sans-serif;
}

.slidebilder
{
    position: absolute;
    top: 71%; 
    width: 80%;
    height: 70%;
    left: 10%;
    overflow: hidden;
    border: 5px solid black;
}

#linjened
{
    position: absolute; 
    width: 0.12%; 
    height: 130%;
    top: 205%;
    background-color: black;
    left: 50%;   
}

#linje2
{
    position: absolute; 
    width: 75%; 
    height: 0.3%; 
    background-color: black;
    top: 270%;
    left: 13%; 
    
}

#vrbilde
{
    position: absolute; 
    top: 214%; 
    height: 50%;
    width: 35%;
    left: 13%;
    
    
}

.tekst2
{
    position: absolute;
    text-align: center; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
    height: 55%;
    width: 36%;
    overflow: hidden;
    top: 214%;
    left: 52%;
    
    
}

#Overskrift1{
    position: absolute; 
    top: 200%;
    left: 60.8%; 
    font-family: 'Open sans', sans-serif; 
    
}

.youtube{
    position: absolute;
    top: 283%;
    left: 54%;    
}

#Overskrift2{
    position: absolute; 
    top: 273%;
    font-family: 'Open Sans', sans-serif;
    left: 17.8%; 
    
}

#Overskrift3{
    position: absolute; 
    top: 272%; 
    left: 52%; 
    font-family: 'Open Sans', sans-serif; 
    
}

.tekst3
{
    position: absolute;
    text-align: center; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
    height: 50%;
    width: 36%;
    overflow: hidden;
    top: 286%;
    left: 12%;
    
}

#wdalslogo{
    margin-top: 10px;
    margin-left: 100px;
    display: block;
    float: left;
    width: 250px;
}




