/* Start of CSS-page */

html,
body {
    margin: 0;
    font-family: tahoma;
}


/* header and container CSS */

#header {
    width: 100%;
    background-color: whitesmoke;
    position: relative;
    height: 200px;
}

#container {
    margin: 0 auto;
    margin-top: -20px;
    width: 100%;
    position: absolute;
    background-color: whitesmoke;
}

.menylinjer {
    width: 46.5%;
    height: 3.2px;
    position: absolute;
    top: 100px;
    background-color: black;
}

#menylinje1 {
    left: 0;
}

#menylinje2 {
    right: 0;
}

.hexagons {
    position: absolute;
    width: 40px;
    top: 50px;
}

#hexagon5 {
    right: 345px;
}

#hexagon {
    right: 290px;
}

#hexagon1 {
    right: 235px;
}

#hexagon2 {
    right: 180px;
}

#hexagon3 {
    right: 125px;
}

#hexagon4 {
    right: 70px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    overflow: hidden;
}

#logodiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    overflow: hidden;
}

#fb {
    position: absolute;
    top: 55px;
    width: 30px;
    left: 200px;
}

#tw {
    position: absolute;
    top: 55px;
    width: 30px;
    left: 150px;
}

#ig {
    position: absolute;
    top: 50px;
    width: 40px;
    left: 90px;
}

#sc {
    position: absolute;
    top: 50px;
    width: 37px;
    left: 40px
}


/* contents of page */

#overskrift {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


/* css for bilde+tekstwrap1 */

#wrap1 {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 350px;
    margin-top: 70px;
}

#bildewrap1 {
    width: 500px;
    float: left;
}


/* image width may be changed, but not to more than 500px */

#bilde1 {
    display: block;
    margin-right: auto;
    width: 450px;
    height: 400px;
    border: 1.5px solid black;
    height: 300px;
}

#tekstwrap1 {
    font-family: 'Open Sans', sans-serif;
}


/* CSS code for section lines */

#forsidelinje1,
#forsidelinje2 {
    margin-top: 70px;
    display: block;
    background-color: black;
    height: 1px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


/* css for bilde+tekstwrap2 */

#wrap2 {
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 350px;
}

#tekstwrap2 {
    width: 500px;
    float: left;
    font-family: 'Open Sans', sans-serif;
}


/* image width may be changed, but not to more than 500px */

#bilde2 {
    display: block;
    margin-left: auto;
    width: 400px;
    border: 1.5px solid black;
}

#kartboks {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#kartoverskrift,
#karttekst,
#karttekst2 {
    font-family: 'Open Sans', sans-serif;
}


/* footer css, don't change this */

#underoverskrift {
    margin-top: -50px;
    font-family: 'Open Sans', sans-serif;
}

#wdalslogo {
    margin-top: 10px;
    display: block;
    float: left;
    width: 250px;
}

#fwrap {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    height: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    color: white;
}


/* CSS for links in footer */

a.foot-link:link {
    color: white;
    text-decoration: none;
}

a.foot-link:visited {
    color: white;
    text-decoration: none;
}

a.foot-link:hover {
    color: white;
    text-decoration: underline;
}

a.foot-link:active {
    color: white;
    text-decoration: none;
}


/* end of template CSS */
